# This file uses specific versions to make the experiments reproducible
jupyterlab==3.*
ipywidgets==8.*

tensorflow==2.9.*
# TensorFlow installs NumPy
#numpy==
tensorflow_datasets==4.*

matplotlib==3.*

# linters
autopep8
pydocstyle
flake8
