# This file uses specific versions to make the experiments reproducible
jupyterlab==3.*

tensorflow==2.6.*
# TensorFlow install NumPy
#numpy==
tensorflow_datasets==4.*

matplotlib==3.*

# linters
autopep8
pydocstyle
flake8
